<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink='/profile/ventas-por-producto'>Ventas por producto</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink='/profile/ventas'>Ventas</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink='/profile/promedios-de-precios'>Promedio de precios</a>
        </li>
      </ul>
    </div>
</nav>
<img src="assets/img/undraw_data_reports_706v.svg" alt="" class="noData">
<router-outlet></router-outlet>
