<p-card header="{{item.nombre}}" subheader="{{item.precio}}" [style]="{width: '300px'}" styleClass="p-card-shadow">
    <p-header>
        <img alt="Card" [src]="item.ruta">
    </p-header>
    <p>{{item.detalle}}</p>
    <ng-template pTemplate="footer">
        <p-splitButton label="Opciones" icon="pi pi-ellipsis-v" [model]="opciones"></p-splitButton>
    </ng-template>
</p-card>


<p-dialog [(visible)]="showModal" [style]="{width: '50vw'}">
    <p-header>
        ¿Estás seguro que deseas eliminar este articulo?
    </p-header>
    <p-messages severity="warn">
        <ng-template pTemplate>
            <div class="p-ml-2">Nota: Toma en cuenta que si lo eliminas, se eliminara permanentemente
                y ya no se podra recuperar!
            </div>
        </ng-template>
    </p-messages>
    <p-footer>
        <p-button icon="pi pi-check" (click)="showModal=false" label="No, Deseo seguir conservandolo!"></p-button>
        <button icon="pi pi-times" pButton type="button" (click)="delete()" label="Si deseo eliminarlo" class="p-button-danger"></button>
    </p-footer>
</p-dialog>

  <p-dialog [(visible)]="showModalUpdate" [style]="{width: '50vw'}">
    <p-header>
        ACTUALIZACION
    </p-header>
        <!-- <div class="custom-file">
          <input type="file" name="file" class="custom-file-input" id="validatedCustomFile" required>
          <label class="custom-file-label" for="validatedCustomFile">Elige un archivo...</label>
          <div class="invalid-feedback">Example invalid custom file feedback</div>
        </div> -->
        <div class="textbox">
            <span class="p-float-label">
              <input type="text" name="nombre" required #nombre  pInputText> 
              <label for="float-input">nombre</label>
            </span>
            <span class="p-float-label">
              <input  type="number" name="precio" required #precio pInputText> 
              <label for="float-input">precio</label>
            </span>
            <span class="p-float-label">
              <input type="text" name="detalles" required #detalles pInputText> 
              <label for="float-input">detalle</label>
            </span>
        </div>   
    <p-footer>
        <p-button icon="pi pi-check" (click)="fileSize(nombre.value,precio.value,detalles.value)" label="Actualizar" class="p-button-danger"></p-button>
        <button icon="pi pi-times" pButton type="button" (click)="showModalUpdate=false"  label="Cancelar" class="p-button-danger"></button>
    </p-footer>

  </p-dialog>