.ui.special.cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin:1rem 0;
}
app-articulo{
    margin-left: 2em;
    margin-top: 2em;
}