<div class="user" *ngIf="auth0Service.user$ | async as profile">
    <img class="ui avatar mini image" src="{{profile.picture}}" id="user">
    <h4>{{profile.name}}</h4>
    <h6>{{profile.email}}</h6>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink='reportes'>Reportes</a>
        </li>
      </ul>
    </div>
  </nav>
<app-myitems></app-myitems>
