<app-loading2 *ngIf="loading"></app-loading2>
<div class="card" *ngIf="table">
    <p-table [value]="results" selectionMode="single" [(selection)]="selectedProduct1" dataKey="code">
        <ng-template pTemplate="header">
            <tr>
                <th>productos</th>
                <th>promedio</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr [pSelectableRow]="product">
                <td>{{product.producto}}</td>
                <td>{{product.promedio | currency:"GTQ":"symbol"}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>

