<app-loading2 *ngIf="loading"></app-loading2>
<div id="opciones">
    <i class="pi pi-plus" routerLink='/profile/newItem'></i>
    <div class="ui icon input">
       <input type="text" placeholder="Buscar..." #texto (keyup.enter)="buscar(texto.value)"> 
      <i class="search link icon"></i>
    </div>
    <button pButton id="pdf" type="button" icon="pi pi-file-pdf" label="{{items.length}}" *ngIf="items.length>=1" class="p-button-rounded p-button-warning"></button>
</div>
<div class="ui special cards" >
    <app-articulo2 *ngFor="let item of items; let i = index" [item]='item'></app-articulo2>
    <!-- <img src="assets/img/undraw_Personal_notebook_re_d7dc.svg" alt="Ningun libro" *ngIf="items.length<=0">
    <p-message severity="info" text="No tienes ningun articulo aún!" styleClass="p-mr-2" *ngIf="items.length<=0"></p-message> -->
</div>
